
 

  
  

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper{
  
  width:100%;
  margin-top: 10px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}


.swiper-wrapper {

  width: 88% !important;
  margin-left: 20px !important;
  margin: auto !important;
}
.swiper-slide {
  width: 11% !important;
  bottom: 1px solid red;
  text-align: center;
  font-size: 14px;
  background: #fff;
  padding-top: 20px !important;
  
  display: flex;
  justify-content: center;
  align-items: center; 

  } 

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.P_image_div{

  display: block;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
} 

.P_slider_div_array{
border: 1px solid green;
width: 10%;
margin-left:10%;

}

.p_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eef9ff;
    display: block;
} 

.swiper-button-next{

  border: 1px solid #5b5e7a;
  border-radius: 100% !important;
  color: #9b9c9b !important;

  opacity: 1 !important;
 
  border-color:darkgray!important ;
  margin: -22px 20px 0px !important;
 
}
.swiper-button-prev{

border: 1px solid #5b5e7a;
border-radius: 100% !important;
color: #9b9c9b !important;

opacity: 1 !important;
border-color:darkgray !important ;
margin: -22px 20px 0px !important;
} 
:root {
--swiper-navigation-size: 12px !important;
}














.swiper-slide {
  width: 11% !important;
  bottom: 1px solid red;
  text-align: center;
  font-size: 14px;
  background: #fff;
  padding-top: 20px !important;
 
  display: flex;
  justify-content: center;
  align-items: center; 

  } 

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.P_image_div{
  border: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
} 

.P_slider_div_array{
border: 1px solid green;
width: 10%;
margin-left:10%;

}

.p_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eef9ff;
    display: block;
} 

.swiper-button-next{

  border: 2px solid #5b5e7a;
  border-radius: 100% !important;
  color: #9b9c9b !important;
  width: 35px !important;
  height: 35px !important;
  opacity: 1 !important;
  
  border-color:darkgray!important ;
  margin: -22px 20px 0px !important;

}
.swiper-button-prev{

border: 2px solid #5b5e7a;
border-radius: 100% !important;
color: #9b9c9b !important;
width: 35px !important;
height: 35px !important;
opacity: 1 !important;
border-color:darkgray !important ;
margin: -22px 20px 0px !important;
} 
:root {
--swiper-navigation-size: 12px !important;
}