#P_HompageContainer{
  max-width: 80%;
  margin: auto;

  padding-top: 80px;
}
.P_div_Title{
 
  /* border: 1px solid red; */
}

.P_Title{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
  
}
body{
  background-color: #f3f3f3;
}






.P_Title_2{
  font-size: 28px;
  color: #333;
  text-align: center;
  padding: 0;
  margin: 6px 0 18px;
  font-weight: 400;
  height: 33px;
  
}
.P_card{
  gap: 30px;
  display:flex;
 
}

.P_card a {
  text-decoration: none;
  
    padding: 12px 0;
    color: #666;
    display: block;
    font-size: 14px;
}
.P_card ul{
  
  margin-top: -10px;
}
.P_card li {
  
  
  list-style: none;
}
.p_img_div{
  width: 385px;
  height: 73;
}
.p_img{
width: 100%;
}
.P_card i {

     float: right;
    margin-top: -5px;
    margin-right: 5px;

  ;
    color: #999;
    font-size: 25px;
   
}
.p_div_card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
    border-radius: 3px;
    height: 350px;
}